* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
    
body {
    background-color: #172d6b;
}

.navbarlist {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}

.navbarlink {
    padding: 20px;
    font-family: "Courier New", Courier, monospace;
}

/* .resumebox {
    border: 1px solid hotpink;
    padding: 12px 8px 12px 8px;
    border-radius: 8px;
    text-align: center;
    display: block;
    width: 100px;
} */

.resume{
    /* display: block; */
    width: 100px;
    background: none;
    border: 1px solid hotpink;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    transition: 0.4s linear;
    border-radius: 5px;
}

.resume:hover{
    background-color: #1a3683;
}

a {
    color: hotpink;
    text-decoration: none;
    transition: 0.4s linear;
}

i {
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.4s linear;
}

i:hover {
    color: #888
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(92, 2, 47);
}

.row2 {
    display: flex;
    height: 500px;
    margin-bottom: 10px;
}

.txtbox {
    width: 80%;
    margin-left: 40px;
}

.profilepic {
    margin-top: 70px;
    margin-left: 70px;
    width: 40%;
}

.profile{

    height: 200px;
    width: auto;
    padding: 5px;
    border: 2px solid hotpink;
    border-radius: 50%;
    margin-left: 0px;

}

.bigtxt {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 70px;
    color: #a6b6e2;
    font-weight: 600;
    margin-bottom: 0px;
}

.smalltxt {
    font-family: "Lucida Console", Monaco, monospace;
    color: hotpink;
    margin-left: 10px;
}

.icons {
    margin-left: 50px;
    margin-top: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: start;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: start;
}

.contact {
    padding: 80px;
    text-align: center;
}

.contact p {
    margin-bottom: 40px;
}

.name, .email, .message {
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    margin-bottom: 40px;
}
.name {
    float: left;
    min-width: 49%;
}

.email {
    float: right;
    min-width: 49%;
}

.message {
    min-width: 100%;
    max-width: 100%;
}

.contact button {
    background: none;
    border: 1px solid;
    border-radius: 8px;
    color: #888;
    font-size: 14px;
    padding: 10px 40px;
    transition: 0.4s linear;

}

.contact button:hover {
    background: #1a3683;

}

.title {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 70px;
    color: #a6b6e2;
    font-weight: 600;
    margin-bottom: 10px;
}
.txt {
    font-family: "Lucida Console", Monaco, monospace;
    color: hotpink;
    line-height: 1.8;
    margin-right: 40px;
}

.bold {
    font-weight: bold;
}

.margin {
    margin-bottom: 40px;
    margin-left: 20px;
}

.code {
    border: 5px solid indigo;
    padding: 2px;
    border-radius: 3px;
}

/* ul.navbarlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li.navbarlink {
    float: right;
    display: block;
    padding: 20px;
}

a:link {
    color: hotpink;
    text-decoration: none;
  }

a:hover {
    color: rgb(92, 2, 47);
  }

.resumebox { 
    height: 30px;
    width: 30px;
    background-color: indigo;
    text-align: center;


} */