@font-face { 
    font-family: Chomsky; 
    src: url('fonts/Chomsky.otf'); 
} 

@font-face {
    font-family: Crown;
    src: url('fonts/Crown\ Heritage.otf')
}

body {
    background-image: url('static_files/background.png');
}

.headerRow {
    font-family: Chomsky;
    display: flex;
}

.archive {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.name {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; */
}

.resume {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.bodyRow {
    font-family: Crown;
    display: flex;
}

.bigColumn1 {
    width: 80%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.snippet {

}

.bigColumn2 {
    width: 20%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.hasCaption {
    font-size: 2em;
    margin-bottom: 0px;
}

.caption {
    margin-top: 0px;
}